{% extends "base.html" %}
{% load comments %}

{% block content %}
    {% if is_paginated %}
        <ol start="{{ page_obj.start_index }}">
    {% else %}
        <ol>
    {% endif %}
{% for link in object_list %}
    <form method="post" action="{% url 'vote' %}" class="vote_form">
        <li> [{{ link.votes }}]
            {% csrf_token %}
            <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}"/>
            <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}"/>
            {% if not user.is_authenticated %}
                <button disabled title="Please login to vote">+</button>
            {% elif link.pk not in voted %}
                <button>+</button>
            {% else %}
                <button>-</button>
            {% endif %}
            <a style="font-size: 23px; text-decoration: underline !important;" target="_blank" href="{{ link.url }}">
                <b>{{ link.title }}</b>

            </a>
        </li>
        <a style="font-size: 18px; font-style: italic; color: #000000" target="_blank"
           href="{% url 'profile' slug=user.username %}">Đăng bởi: {{ link.submitter }} | </a>
        <a style="font-size: 18px; color: #000000" target="_blank"
           href="{% url 'link_detail' pk=link.pk %}"> {% get_comment_count for link as comment_count %}
            {{ comment_count }} comment{{ comment_count|pluralize }}</a>
    </form>
{% endfor %}
</ol>
{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&larr; Previous | </a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &srarr;</a>
        {% endif %}
    </div>
{% endif %}
<blockquote
        style="background-color: #ddd; padding: 4px; border-radius: 10px; margin: 10px 0; color: #666; font-size: smaller; text-shadow: rgba(255,255,255,0.8) 1px 1px 0;">
    {{ randomquip.comment|truncatechars:140 }}
</blockquote>
{% endblock %}